/********* GLOBAL STYLES *********/

.flex-row-top {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}

.row{
  flex-direction: row;
}

.column{
  flex-direction: column;
}

.align-center{
  align-content: center;
  align-items: center;
}

.justify-center{
  justify-content: center;
}

.box {
  border: 2px solid black;
  border-radius: 5px;
  background-color: azure;
  color: #d9480f;
  display: flex;
  align-items: center;
  justify-content: center;
}