/* Modular Scale located here: https://www.modularscale.com/?1,1140,12&em&1.3 */

@font-face {
  font-family: "gobCL";
  src: url('../fonts/gobCL_Bold.otf');
  src: url('../fonts/gobCL_Heavy.otf');
  src: url('../fonts/gobCL_Light.otf');
  src: url('../fonts/gobCL_Regular.otf');
}

html{
  font-size: calc(15px + 0.390625vw);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1.1rem;
}

p {
  font-size: 1rem;
}

.text-contrast{
  color: #f3b757;
  font-weight: 550;    
}

