/* GRID distribution for Home page */

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  column-gap: 16px;
  row-gap: 16px;
}

.grid-container > * {
  grid-column: col-start / span 12;
}

.header {
  grid-column: col-start / span 12;
  grid-row: 1 / 2;
  position: sticky;
  top: 0;
  height: 90px;
  z-index: 9999;
}

.content {
  grid-column: col-start 1 / span 12;
  grid-row: 3 / 4;
}

.content > * {
  grid-column: col-start 1 / span 12;
}

.content-sections{
  grid-column: col-start 3 / span 8;
  margin-top: 80px;
  row-gap: 80px;
}

.main-footer {
  grid-column: col-start / span 12;
  grid-row: 4 / 5;
}


  
  
@media screen and (max-width: 655px) {
  .grid-container {
    grid-template-columns: repeat(4, [col-start] 1fr);
    column-gap: 8px;
  }

  .grid-container > * {
    grid-column: col-start / span 4;
  }
  
  .header{
    grid-column: col-start / span 4;
    height: 70px;
  }

  .landing-content {
    grid-column: col-start / span 4;
  }

  .content {
    grid-column: col-start 1 / span 4;
  }
  
  .main-footer {
    grid-column: col-start / span 4;
  }

}
